#!/bin/bash -e

openscap_url="{{ openscap_url }}"
openscap_archive="{{ openscap_tmp_dir }}/{{ openscap_url | basename }}"
openscap_file="{{ openscap_tmp_dir }}/{{ openscap_url | basename | regex_replace('\.bz2') }}"
openscap_report="{{ openscap_tmp_dir }}/oval-report-{{ inventory_hostname }}.html"
openscap_results="{{ openscap_tmp_dir }}/oval-report-{{ inventory_hostname }}.xml"

packages_yum="{{ openscap_tmp_dir }}/packages-{{ inventory_hostname }}.yum"
packages_apt="{{ openscap_tmp_dir }}/packages-{{ inventory_hostname }}.apt"
repos_yum="{{ openscap_tmp_dir }}/repos-{{ inventory_hostname }}.yum"
repos_apt="{{ openscap_tmp_dir }}/repos-{{ inventory_hostname }}.apt"

openscap_gpg_recipient="{{ openscap_gpg_recipient | default('') }}"
openscap_sftp_upload_path="{{ openscap_sftp_upload_path | default('') }}"


function Cleanup
{

  rm -f ${openscap_archive}
  rm -f ${openscap_file}
  rm -f ${openscap_report}*
  rm -f ${openscap_results}*
  rm -f ${repos_apt}*
  rm -f ${repos_yum}*
  rm -f ${packages_apt}*
  rm -f ${packages_yum}*

}

function Download
{

  # Download latest OVAL
  wget -q -O ${openscap_archive} ${openscap_url}

  # Unpack the archive
  [[ ${openscap_archive} =~ \.bz2 ]] && bzip2 -d ${openscap_archive}

}

function Report
{

  # Execute OpenSCAP
  oscap oval eval --results ${openscap_results} \
                  --report ${openscap_report} \
                  ${openscap_file} > /dev/null

}

function Package_list
{

  if [[ -x /usr/bin/apt ]] ; then
    packages=${packages_apt}
    repos=${repos_apt}
    apt list --installed > ${packages} 2>/dev/null
    grep -hE '^deb\s' /etc/apt/sources.list /etc/apt/sources.list.d/*.list 2>/dev/null |\
    sed '/ppa/ s/deb //g' |\
    sed -re 's#http://ppa\.launchpad\.net/([^/]+)/([^/]+)(.*?)$#ppa:\1/\2#g' > ${repos}
  elif [[ -x /usr/bin/yum ]] ; then
    packages=${packages_yum}
    repos=${repos_yum}
    yum list installed > ${packages}
    yum repolist -v > ${repos}
  fi

}


function Encrypt
{

  if [[ -f $1 ]]
  then
    # Encrypt report using GPG
    gpg --encrypt --armor \
        --trust-model always \
        --recipient ${openscap_gpg_recipient} \
        --output ${1}.gpg \
        ${1}
  fi

}

function Send_sftp
{

  # Upload the report & results
  sftp -oBatchMode=no -b - openscap_server <<EOF
cd ${openscap_sftp_upload_path}
put ${openscap_results}.gpg
put ${openscap_report}.gpg
put ${repos}.gpg
put ${packages}.gpg
bye
EOF

}

# Delete older files
echo "--- Delete older files"
Cleanup

# Download latest OVAL
echo "--- Download latest OVAL definitions"
Download

echo "--- Create overview of installed packages including source"
Package_list

# Execute OpenSCAP
echo "--- Create OpenSCAP report"
Report

# Encrypt report using GPG
if [[ -n $openscap_gpg_recipient ]]
then
  echo "--- Encrypt report & results using GPG"
  Encrypt ${openscap_results}
  Encrypt ${openscap_report}
  Encrypt ${packages}
  Encrypt ${repos}

  # Upload the report & results
  echo "--- Send encrypted report using SFTP"
  Send_sftp

  echo "--- Delete latest files"
  Cleanup
fi

# Exit now
exit 0
